@font-face {
  font-display: swap;
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/barlow-semi-condensed-v15-latin_latin-ext-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/barlow-semi-condensed-v15-latin_latin-ext-600.woff2') format('woff2');
}