*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button,
input,
select,
option {
  border: none;
  padding: 0;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  appearance: none;
}

ul,
ol {
  list-style: none;
}

button:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

blockquote {
  margin: 0;
  padding: 0;
  border: none;
  quotes: none;
}

blockquote::before,
blockquote::after {
  content: none;
}